.idea/

.DS_Store
static/.DS_Store

front-end/.DS_Store
front-end/node_modules
#front-end/dist

# local env files
front-end/.env.local
front-end/.env.*.local

# Log files
front-end/npm-debug.log*
front-end/yarn-debug.log*
front-end/yarn-error.log*

# Editor directories and files
front-end/.idea
front-end/.vscode
front-end/*.suo
front-end/*.ntvs*
front-end/*.njsproj
front-end/*.sln
front-end/*.sw*
front-end/.gitignore

cmake-build-debug
index
CMakeLists.txt
rlebwt
rlfm.cpp
files
test/large.*
rlebwt_for_test.cpp
rlebwt_test
index.*
rt
rt2
r1
r2
r3

